// colours
$primary-color: #1C4587;
$secondary-color: #BF9000;
$text-color: white;
$grey-background: lightgray;

// fonts
$primary-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$secondary-font: 'Times New Roman', Times, serif;